#!/usr/bin/make -f 
# Sample debian/rules that uses debhelper.
# This file is public domain software, originally written by Joey Hess. 

DIR_SRC=$(shell pwd)
DIR_PREFIX=/tmp/cxproc
NAME=$(shell dh_listpackages)

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=0

build: build-stamp

build-stamp:
	dh_testdir
	dh_gencontrol

#	Add here commands to compile the package.
	test -d $(DIR_PREFIX)/build || mkdir -p $(DIR_PREFIX)/build
	(cd $(DIR_PREFIX)/build && cmake $(DIR_SRC) "-GUnix Makefiles" -DCMAKE_BUILD_TYPE=Release -DCXPROC_DOC:BOOL=OFF -DCXPROC_LEGACY:BOOL=ON -DCXPROC_EXPERIMENTAL:BOOL=OFF -DCXPROC_MARKDOWN:BOOL=OFF)
	cmake --build $(DIR_PREFIX)/build -j 4

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

#	Add here commands to clean up after the build process.
#	cmake --build $(DIR_PREFIX)/build --target clean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean
	dh_installdirs

#	Add here commands to install the package into debian/<packagename>
	cmake --install $(DIR_PREFIX)/build --prefix $(DIR_SRC)/debian/$(NAME)/usr
	install -g www-data -d $(DIR_SRC)/debian/$(NAME)/etc/apache2/sites-available/
	install -g www-data -m 0644 $(DIR_SRC)/www/conf/httpd/cxproc-template.conf $(DIR_SRC)/debian/$(NAME)/etc/apache2/sites-available/
#	install -g www-data -d $(DIR_SRC)/debian/$(NAME)/var/www/html/test
#	install -g www-data -m 0644 $(DIR_SRC)/www/html/Documents/index.* $(DIR_SRC)/debian/$(NAME)/var/www/html/test/

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installcatalogs
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_undocumented
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install
